<%- include('partials/_header') -%>


<body>

  <%- include('partials/_navigation') -%> 

  <!-- Page Header -->
  <header class="masthead" > 
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1> <%= post.title %> </h1>
            <h2 class="subheading">Sevval's thoughts</h2>
            <span class="meta">
              <%= post.dateCreated %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="row mb-5 pb-4">
    <div class="col-12">
      <img src= " <%= post.image %> "alt="Image" class="img-fluid tm-catalog-item-img">
    </div>
  </div>



  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <%= post.diary %>
          
         
        </div>
      </div>
    </div>
  </article>

<hr>
           <div class="col-xl-4 col-lg-5">
            <!-- Share box -->
            <div class="tm-bg-gray tm-share-box">
              <div class="text-center">
                <a href="/posts/edit/<%= post._id%>" class="btn btn-primary p-0 mb-4 tm-btn-animate tm-btn-download tm-icon-download"><span>Update Details</span></a>	
              </div>	
              <div class="text-center">
                <a href="/posts/<%= post._id%>?_method=DELETE" class="btn btn-secondary p-0 mb-4 tm-btn-animate tm-btn-download tm-icon-download" onclick="return confirm('ARE YOU SURE')"><span>Delete Diary</span></a>	
              </div>								
            </div>
          </div>

  <hr>

  <%- include('partials/_footer') -%>

</body>

</html>
